<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="Backend Developer" />
    <meta name="keywords" content="Aravind Kumar G, Software Engineer" />
    <meta name="author" content="DonOfDen" />
    <meta name="topic" content="Python / Go / PHP Backend Web Developer">
    <meta name="summary" content="Backend Web Developer">
    <meta name="abstract" content="Backend Web Developer">
    <meta name="subject" content="Backend Web Developer">
    <meta name="copyright" content="DonOfDen">
    <meta name="language" content="English">
    <meta name="robots" content="index,follow" />
    <meta name="Classification" content="Personal">
    <meta name="author" content="Aravind Kumar G, aravindkumar.ganesan@gmail.com">
    <meta name="designer" content="Aravind Kumar G">
    <meta name="reply-to" content="aravindkumar.ganesan@gmail.com">
    <meta name="owner" content="Aravind Kumar G">
    <meta name="url" content="https://donofden.github.io/">
    <meta name="identifier-URL" content="https://donofden.github.io/">
    <meta name="category" content="Portfolio">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="7 days">
    <meta name="google-site-verification" content="" />
    <!-- Open Graph data -->
    <meta property="og:title" content="Aravind Kumar G | Portfolio (WEB | Backend Developer)" />
    <meta property="og:image" content="images/donofden.jpeg" />
    <meta property="og:site_name" content="Aravind Kumar G Portfolio" />
    <meta property="og:description" content="The portfolio of the Web Developer Aravind Kumar G." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://donofden.github.io/" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Aravind Kumar G | Portfolio (WEB | Backend Developer)">
    <meta name="twitter:description" content="Aravind Kumar G | Portfolio (WEB | Backend Developer)">
    <meta name="twitter:image" content="images/donofden.jpeg">
    <!-- image must be at least 120x120px -->
    <meta name="twitter:site" content="@aravind_kumar_g">
    <meta name="twitter:creator" content="@aravind_kumar_g">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- FontAwesome Icons-->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
</head>