---
layout: default
title: DonOfDen's Blog
---
<script type="text/javascript">
    function rootPath() {
        var pathName = window.location.pathname.split('/');
        var root = '';
        for(var i=0; i < pathName.length; i++){
            root += "../";
        }
        return root;
    }
</script>
<div class="main-banner">
    <div class="container">
        <script>
            document.write('<img src="' + rootPath() + 'images/donofden-blog.jpg" class="img-responsive" style="max-width: 1550%;">' );
        </script>
    </div>
</div>
<hr>
<div class="posts span8">
    <div class="outerDiv">
        <div class="leftDiv"><h1>{{ page.title }}</h1></div>
        <div id="show-hidden-search" class="rightDiv">
            <button class="btn">
                <i class="fa fa-search"></i>
                Search Blogs!
            </button>
        </div>
    </div>
    <div class="hidden-search" style="display: none;">
        <table id="blogtable" class="stripe" style="width:100%">
            <thead>
                <tr>
                    <th>Blog Title</th>
                    <th>Short Description</th>
                    <th>Date Posted</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for post in site.posts %}
                <tr>
                    <td><a href="{{ post.url }}" title="{{ post.title }}" target="_blank">{{ post.title }}</a></td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.date | date_to_string }}</td>
                    <td>{% for tag in post.tags %}{{ tag }} {% endfor %}</td>
                </tr>
            {% endfor %}
                </tbody>
            <tfoot>
                <tr>
                    <th>Blog Title</th>
                    <th>Short Description</th>
                    <th>Date Posted</th>
                    <th>Tags</th>
                </tr>
            </tfoot>
        </table>
        <hr>
    </div>
    <br>
    <div class="blog-list">
    {% for post in site.posts %}
    <h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
        
    <p>{{ post.description }}</p>
    <div>
        <p>Author: <strong>{{ post.author }}</strong></p>
        <span class="badge badge-success">Posted {{ post.date | date_to_string }}</span>
        <div class="pull-right">
          {% for tag in post.tags %}
            <a href="#{{ tag | slugify }}">
                <span class="label blog-label">{{ tag }}</span>
            </a>
          {% endfor %}
        </div>
    </div> 
    <hr>
    {% endfor %}
    </div>
</div>
